  <script>
    $(function() {
      $('.new-lesson-button').click(function( event ){
        var lessonUrl = $( event.target).data('lesson-url');
        $('#newLessonForm').attr('action', lessonUrl);
      });

      $('.lessons').sortable({
        update: function( event, ui ) {
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-url'),
            dataType: 'json',
            data: { lesson: { row_order_position: ui.item.index () } }
          });
        }
      });

      $('.sections').sortable({
        update: function( event, ui ) {
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-section-url'),
            dataType: 'json',
            data: { section: { row_order_position: ui.item.index () } }
          });
        }
      });

    });
  </script>

<br />
<div class="box-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <br />
  <%= image_tag current_course.photo.to_s, class: 'img-fluid offset-1' %>
  <br />
  <br class="clr" />
  <div>
    <!-- Section Button trigger modal -->
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newSectionModal">
      Add a New Section
    </button>
  </div>
  <br />
  <br />

  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
    <br />
      <li data-update-section-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header">
          <span class="fa fa-ellipsis-v"></span>
          <%= section.title %>
        </div>

        <!-- Lesson Button trigger modal -->
        <button type="button" class="btn btn-primary btn-md float-right new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
         New Lesson
        </button>

        <br class="clr" />
        
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path(lesson) %>" class="lesson-li">
              <div class="row">
                <div class="col-1">
                  <span class="fa fa-ellipsis-v"></span>
                </div>
                <div class="col-11 text-center">
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                </div>
              </div>
              <br class="clr" />
            </li>
          <% end %>
        </ul>

        <br class="clr" />
      </li>
    <% end %>
  </ul>

  <br />

  <%= link_to 'Preview as Student', course_path(current_course), class: 'btn btn-warning center' %>
</div>

<!-- Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newSectionModalLabel">Add a New Section</h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a Section", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newLessonModalLabel">Add a New Lesson</h4>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
            <%= f.input :subtitle %>
            <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add Your Lesson", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>