<br />

<div class="box-box text-center col-10 offset-1">
  <h1><%= current_user.email %></h1>
</div>

<br />

<div class="box-box col-10 offset-1">
  <h2>What I'm Learning</h2>
  <hr />
  <br />
  <% current_user.enrolled_courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h3>
    <br />
    <%= image_tag course.photo.to_s, class: 'img-fluid' %>
    <br /><br />
    <div class="row text-center">
      <div class="col-12 col-sm-8">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-4">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-md btn-primary' %>
      </div>
    </div>
    <br />
    <br class="clr" />
  <% end %>
</div>

<br />

<div class="box-box col-10 offset-1">
  <h2>What I'm Teaching</h2>
  <hr />
  <br/>
  <% current_user.courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h3>
    <br />
    <%= image_tag course.photo.to_s, class: 'img-fluid' %>
    <br /><br />
    <div class="row text-center">
      <div class="col-12 col-sm-8">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-4">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-md btn-primary' %>
      </div>
    </div>
    <br />
    <br class="clr" />
  <% end %>
</div>